.two{
  background-color: #f0eee8;
  background-image: -webkit-linear-gradient(140deg, #a68676 50%, #f0eee8 35%);
  height: 100vh;
}

/* body {
    background: url(https://i.gifer.com/DMy.gif) repeat;
    background-size: 20%;
  } */

.btn{
    background-color: #70442d;
    border: none;
    border-radius: 25px;
    padding: 15px 25px;
    margin: 10px;
}

.account-heading{
    font-size: 50px;
    margin-bottom: 30px;
}

.text-secondary{
    font-size: 20px;
    font-family: 'Exo', sans-serif;
}

.popup-trigger {
    display: block;
    margin: 0 auto;
    padding: 20px;
    background: darkcyan;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    line-height: 24px;
    cursor: pointer;
}

.popup {
    background: rgba(100, 100, 100, 0.6);
    position: fixed;
    display: none;
    z-index: 5000;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.popup>div {
    border-radius: 10px;
    position: fixed;
    background: #FFFFFF;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
    padding: 30px 15px;
    /* Width of popup can be changed */
    width: 70%;
    z-index: 5001;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    text-align: left;
    border: 5px solid #ff4449;
}

.popup-btn-close {
    position: absolute;
    background-color: #ff4449;
    color: white;
    top: -15px;
    right: -15px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Arial Black', Arial, sans-serif;
    cursor: pointer;
    -webkit-box-shadow: -4px -2px 6px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: -4px -2px 6px 0px rgba(0, 0, 0, 0.1);
    box-shadow: -3px 1px 6px 0px rgba(0, 0, 0, 0.1);
}

.popup-btn-close:hover {
    background-color: #a02327;
    color: #fff;
}

.popup-text {
    background: #fff;
    color: #333;
    font-size: 19px;
    line-height: 30px;
    z-index: 9999;
}

.carousel-header {
    color: white;
    font-size: 40px;
    font-weight: 900;
}

.scrollable-div-dengue {
    position: fixed;
    overflow: auto;
    width: 95%;
    height: 350px;
}

.wrapper {
    min-height: 500px;
}



#star{
    animation: star 2.5s linear infinite;
    transform-origin: center;
    transform-box: fill-box;
}
#bulb{
    animation: bulb 1.7s linear infinite alternate;
 
}

#path202, #path16, #path18, #path204, #path50, #path116
{
    animation:path 3s linear 0s infinite alternate;
}

#hat{
    animation: hat-wobble 2s linear 2s infinite alternate forwards;
    transform-origin: center;
    transform-box: fill-box;
}

#apple{
    animation: apple 2s linear 0s infinite alternate-reverse forwards;
    transform-origin: center;
    transform-box: fill-box;
}
#mail{
    animation: mail 1s linear 0s infinite alternate-reverse forwards;
}
#contact, #notebook{
    animation: contact 3s cubic-bezier(.55,.085,.68,.53) infinite alternate both;
    transform-origin: center;
    transform-box: fill-box;
}

#file{
    animation: flip-file 2s cubic-bezier(.455,.03,.515,.955) infinite alternate both;
    transform-origin: center;
    transform-box: fill-box;
}

#certificate{
    animation:shake 2s linear infinite alternate forwards;
    transform-origin: center;
    transform-box: fill-box;
}

.social-icon {
    color: #70442d;
    text-align: center;
    font-size: 30px;
}

.anchor_div{
    color: #70442d;
    text-decoration: none;
}

.anchor_div:hover{
    color: #70442d;
    text-decoration: none;
}

@keyframes star {
    to{
        transform: rotateZ(0deg);
    }
    from{
        transform: rotateZ(360deg);        
    }
}

@keyframes bulb {
    to{
        opacity: 0;
    }
    from{
        opacity: 1;
    }
}

@keyframes path {
    0%,
    50%,
    100% {
      opacity: 0;
    }
  
    25%,
    75% {
      opacity: 1;
    }
  }



  @keyframes hat-wobble {
    0%,
    100% {
      transform: rotate(0deg);
      transform-origin: 50% 100%;
    }
  
    10% {
      transform: rotate(2deg);
    }
  
    20%,
    40%,
    60% {
      transform: rotate(-4deg);
    }
  
    30%,
    50%,
    70% {
      transform: rotate(4deg);
    }
  
    80% {
      transform: rotate(-2deg);
    }
  
    90% {
      transform: rotate(2deg);
    }
    
  }

  @keyframes apple {
    0% {
      opacity: .8;
      transform: translateX(0px) rotate(-200deg);
    }
  
    100% {
      opacity: 1;
      transform: translateX(80px) rotate(0deg);
    }
  }

  @keyframes mail {
    0% {
      transform: translate(-40px, -50px);
    }
  
    100% {
      transform: translate(0, 0);
    }
  }

  @keyframes contact {
    0%{
        transform:scale(1)
        ;opacity:1
    }100%{
        transform:scale(0)
        ;opacity:1
    }
  
  }

  @keyframes flip-file {
      0%{
          transform:translateZ(0) rotateY(0)
        }
        100%{
            transform:translateZ(160px) rotateY(180deg)
        }
   
    }

    @keyframes shake {
      0%,100%{transform:rotate(0deg);transform-origin:50% 50%}10%{transform:rotate(8deg)}20%,40%,60%{transform:rotate(-10deg)}30%,50%,70%{transform:rotate(10deg)}80%{transform:rotate(-8deg)}90%{transform:rotate(8deg)}
      
    }



    @keyframes move_wave {
        0% {
            transform: translateX(0) translateZ(0) scaleY(1)
        }
        50% {
            transform: translateX(-25%) translateZ(0) scaleY(0.55)
        }
        100% {
            transform: translateX(-50%) translateZ(0) scaleY(1)
        }
    }
    .waveWrapper {
        overflow: hidden;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        margin: auto;
        z-index: 0;
    }
    .waveWrapperInner {
        position: absolute;
        width: 100%;
        overflow: hidden;
        height: 100%;
        bottom: -1px;
        /* background-image: linear-gradient(to top, #af7352 20%, #572a14 80%); */
    }
    .bgTop {
        z-index: 15;
        opacity: 0.5;
    }
    .bgMiddle {
        z-index: 10;
        opacity: 0.75;
    }
    .bgBottom {
        z-index: 5;
    }
    .wave {
        position: absolute;
        left: 0;
        width: 200%;
        height: 100%;
        background-repeat: repeat no-repeat;
        background-position: 0 bottom;
        transform-origin: center bottom;
    }
    .waveTop {
        background-size: 50% 100px;
    }
    .waveAnimation .waveTop {
      animation: move-wave 3s;
       -webkit-animation: move-wave 3s;
       -webkit-animation-delay: 1s;
       animation-delay: 1s;
    }
    .waveMiddle {
        background-size: 50% 120px;
    }
    .waveAnimation .waveMiddle {
        animation: move_wave 10s linear infinite;
    }
    .waveBottom {
        background-size: 50% 100px;
    }
    .waveAnimation .waveBottom {
        animation: move_wave 15s linear infinite;
    }
        .msg{
            position: absolute; 
            min-width: 100vw; 
            color: #442819; 
            background: white; 
            z-index: 1;
        }


        aside {
            width: 10px;
            background: #70442d;
            position: absolute;
            top: 0;
            left: 30px;
            min-height: 50%;
            z-index: 0;
            margin: -1em auto 75px auto;
        }
    
        aside:before,
        aside:after {
            content: '';
            display: block;
            border: 40px solid transparent;
            border-top-width: 50px;
            border-bottom-width: 50px;
            position: absolute;
            bottom: -50px;
            z-index: -1;
        }
    
        aside:before {
            border-left-color: #70442d;
            left: 0;
        }
    
        aside:after {
            border-right-color: #70442d;
            right: 0;
        }
    
        aside nav {
            font-size: 12pt;
            padding: 2em 0;
            text-align: center;
        }
    
        @media (min-width: 500px) {
            aside {
                float: left;
                width: 80px;
            }
    
            aside {
                margin-bottom: 0;
            }
        }

        .vertical-text{
            position: absolute;
            left: 3.5vw;
            top: 3vh;
            font-family: sans-serif;
            font-size: 2em;
            color:#b89583;
            text-transform: uppercase;
            text-orientation: upright;
            text-align: start;
            writing-mode: vertical-lr;
            /*text-transform: rotate(180deg);*/
            /* margin:0px auto; */
          }