{% extends "base.html" %}

{% block head %}
<title>HOME PAGE</title>
<link rel="stylesheet" href="{{url_for('static', filename='css/account.css')}}">
{% endblock %}

{% block content %}
<aside>
    <div> </div>
</aside>
<h1 class="vertical-text">Bookstore</h1>
<div class="two container-fluid">
    <img src="../static/img/contact.png" style="position: absolute; bottom: 0vh; right: 0vw; height: 350px;" alt="">
    <img src="https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2190&q=80"
        style="height: 40vh; width: 80vw; position: absolute; top: 10vh; left: 10vw; object-fit: cover;border-radius: 30px;"
        alt="">
    <div class="content-section container" style="text-align: center; padding-top: 35vh;">
        <div class="container col-lg-6"
            style="background-color: white; padding: 30px; box-shadow: 5px 5px 5px #534e4e;">
            <div class="media-body">
                <h2 class="account-heading">{{ current_user.name }}</h2>
                <p class="text-secondary">Phone : {{ current_user.phone }}</p>
                <p class="text-secondary">Address : {{ current_user.address }}</p>
                <p class="text-secondary">Email : {{ current_user.email }}</p>
            </div>

            <!--Update Account-->
            <button class="btn btn-dark" onclick="Updateaccountfunction()">Edit account</button>
            <div id="Accountformdiv" style="display:none">
                <form method="POST" action="" enctype="multipart/form-data">
                    {{ account_form.hidden_tag() }}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Account Info</legend>
                        <div class="form-group">
                            {{ account_form.name.label(class="form-control-label") }}

                            {% if account_form.name.errors %}
                            {{ account_form.name(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in account_form.name.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ account_form.name(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ account_form.phone.label(class="form-control-label") }}
                            {% if account_form.phone.errors %}
                            {{ account_form.phone.label(class="form-control-label") }}
                            {{ account_form.phone(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in account_form.phone.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ account_form.phone(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ account_form.address.label(class="form-control-label") }}
                            {% if account_form.address.errors %}
                            {{ account_form.address(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in account_form.address.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ account_form.address(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ account_form.email.label(class="form-control-label") }}
                            {% if account_form.email.errors %}
                            {{ account_form.email(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in account_form.email.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ account_form.email(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    </fieldset>
                    <div class="form-group">
                        {{ account_form.submit(class="btn btn-dark") }}
                    </div>
                </form>
            </div>

            <!--Reset Password-->
            <button class="btn btn-dark" onclick="UpdatePasswordfunction()">Reset password</button>
            <div id="Passwordformdiv" style="display:none">
                <form method="POST" action="" enctype="multipart/form-data">
                    {{ password_form.hidden_tag() }}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Password</legend>
                        <div class="form-group">
                            {{ password_form.old_password.label(class="form-control-label") }}

                            {% if password_form.old_password.errors %}
                            {{ password_form.old_password(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in password_form.old_password.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ password_form.old_password(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ password_form.new_password.label(class="form-control-label") }}
                            {% if password_form.new_password.errors %}
                            {{ password_form.new_password.label(class="form-control-label") }}
                            {{ password_form.new_password(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in password_form.new_password.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ password_form.new_password(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ password_form.confirm_new_password.label(class="form-control-label") }}
                            {% if password_form.confirm_new_password.errors %}
                            {{ password_form.confirm_new_password(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in password_form.confirm_new_password.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %}
                            {{ password_form.confirm_new_password(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    </fieldset>
                    <div class="form-group">
                        {{ password_form.submit(class="btn btn-dark") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="../static/js/account.js"></script>
{% endblock content %}