{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/book.css')}}">
{% endblock %}

{% block content %}
<h1 class="underline-small-footer"
  style="font-size: 50px; text-align: center; padding-top: 50px; font-weight: 700; color: #70442d; margin-left: 30%;">
  Available Books</h1>
<div class="container posts">
  {% for book in books %}
  <div class="each-book">
    <article class="media content-section">
      <img class="fa-square-full article-img" src="{{ url_for('static', filename='img/books/' + book.image_file) }}">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="{{ url_for('book_info', book_id=book.id)}}" style="font-size: 20px; color: #70442d; font-weight: 600;">{{ book.title }}</a></br>
          <small class="text-muted">{{ book.author }}</small>
        </div>
        <p class="article-content">&#8377;{{ book.price }}</p>
        <p class="postDesc">{{ book.description }}</p>
      </div>
    </article>
  </div>
  {% endfor %}
</div>
{% endblock %}