{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/contact.css')}}">
{% endblock %}

{% block content %}
<!-- <h1>CONTACT PAGE</h1> -->
<h4 style="position: absolute; top: 10%; left: 5%; font-size: 30px; color: #70442d;">Let us know what's on your mind
</h4>
<h5 style="position: absolute; top: 18%; left: 20%; font-size: 20px; color: #a68676;">Hover on image to know more <i
        class="fas fa-hand-point-right"></i></h5>
<div class="container" style="margin-top: 15vh;">
    <div class="row">
        <div class="col-lg-5"
            style="box-shadow: 5px 5px 20px 0 rgb(0 0 0 / 40%); height: 60vh; margin: 5vh; background-color: white; transform: translate(15%, 15%); z-index: 1; padding: 50px;">
            <h1 class="underline-small-footer" style="text-align: center; color: #0f0b04;">CONTACT US</h1>
            <div class="content-section" style="margin-top: 12%;">
                <form method="POST" action="">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                        <div class="form-group">
                            {% if form.name.errors
                            %} {{ form.name(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.name.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %} {{ form.name(class="form-control form-control-lg") }} {%
                            endif %}
                        </div>
                        <div class="form-group">
                            {% if
                            form.email.errors %} {{ form.email(class="form-control form-control-lg
                            is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %} {{ form.email(class="form-control form-control-lg") }} {%
                            endif %}
                        </div>
                        <div class="form-group">
                            {% if
                            form.feedback.errors %} {{ form.feedback(class="form-control
                            form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.feedback.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% else %} {{ form.feedback(class="form-control form-control-lg") }} {%
                            endif %}
                        </div>
                    </fieldset>
                    <div class="form-group">
                        {{ form.submit(class="btn btn-dark submit-btn") }}
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-6" style="transform: translate(-10%, -5%);">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="https://images.pexels.com/photos/9969204/pexels-photo-9969204.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                            alt="Avatar" style="height: 100%; width: 100%; object-fit: cover;">
                    </div>
                    <div class="flip-card-back">
                        <div class="info-div">
                            <p>Click on email id to write us a mail and on address to know our location.</p>
                            <div style="display: flex;">
                                <div style="margin: auto 0;"><i class="far fa-clock icon"></i></div>
                                <div>
                                    <p class="info-heading"> OPENING HOURS</p>
                                    <p>24 / 7 hours</p>
                                </div>
                            </div>
                            <div style="display: flex;">
                                <div style="margin: auto 0;"><i class="far fa-envelope icon"></i></div>
                                <div>
                                    <p class="info-heading"> MAIL </p>
                                    <p class="info"><a class="fuddu-anchor" rel="nofollow noreferrer"
                                            href="mailto:punerva21@gmail.com"> lorem@gmail.com</a></p>
                                </div>
                            </div>
                            <div style="display: flex;">
                                <div style="margin: auto 0;"><i class="fas fa-phone icon"></i></div>
                                <div>
                                    <p class="info-heading"> PHONE </p>
                                    <p class="info"> +91-338373XXXX</p>
                                </div>
                            </div>
                            <div style="display: flex;">
                                <div style="margin: auto 0;"><i class="fas fa-map-marker-alt icon"></i></div>
                                <div>
                                    <p class="info-heading"> MAPS </p>
                                    <p class="info"><a rel="nofollow noreferrer"
                                            href="https://www.google.com/maps/place/Indira+Gandhi+Delhi+Technical+University+for+Women/@28.6652641,77.2302044,17z/data=!3m1!4b1!4m5!3m4!1s0x390cfd0683919c3b:0xf5fc331b74c2b9e2!8m2!3d28.6652594!4d77.2323931"
                                            class="show_hide fuddu-anchor">Kashmere gate, Delhi</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<h5 style="position: absolute; bottom: 15%; right: 20%; font-size: 20px; color: #a68676;">Follow us and get latest
    offers!</h5>
<div class="social-div">
    <div class="social-icon"><a href="https://www.facebook.com"><i class="fab fa-facebook-f custom-icon"></i></a></div>
    <div class="social-icon"><a href="https://www.instagram.com"><i class="fab fa-instagram custom-icon"></i></a></div>
    <div class="social-icon"><a href="https://www.twitter.com"><i class="fab fa-twitter custom-icon"></i></a></div>
    <div class="social-icon"><a href="https://www.linkedin.com"><i class="fab fa-linkedin-in custom-icon"></i></a></div>
</div>
<aside>
    <div> </div>
</aside>
<div id="circ">&nbsp; Fiction . Adventure . Comic . Mystery . Fantasy . Horror .</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/circletype@2.3.0/dist/circletype.min.js"></script>
<script src="../static/js/contact_circle.js"></script>
{% endblock %}