{% extends "base.html" %}

{% block head %}
<title>HOME PAGE</title>
<link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
{% endblock %}

{% block content %}
<!-- <h1>Home page</h1> -->
<div class="main-container">

    <div class="bg-text-container">
        <div class="animate-text">
            <span>Book Store fllex&nbsp;</span>
            <span>Book Store fllex&nbsp;</span>
        </div>
        <div class="animate-text left">
            <span>Book Store fllex&nbsp;</span>
            <span>Book Store fllex&nbsp;</span>
        </div>
    </div>
</div>
<div class="container-fluid first">
    <!-- Here images will come with welcome text -->
    <div class="col-lg-5 vertical-scroll">
        <div class="logoListWrapper">
            <ul class="logoList -first">
                <li class="logoItem">
                    <img class="photu" src="https://images.pexels.com/photos/2846814/pexels-photo-2846814.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
                </li>
                <li class="logoItem">
                    <img class="photu" src="https://images.pexels.com/photos/3166839/pexels-photo-3166839.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
                </li>
                <li class="logoItem">
                    <img class="photu" src="https://images.pexels.com/photos/3563614/pexels-photo-3563614.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
                </li>
                <li class="logoItem">
                    <img class="photu" src="https://images.pexels.com/photos/1831744/pexels-photo-1831744.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="">
                </li>
                <li class="logoItem">
                    <img class="photu" src="https://images.pexels.com/photos/2079451/pexels-photo-2079451.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
                </li>
                <!-- Clone -->
                <li class="logoItem">
                    <img class="photu" src="https://images.pexels.com/photos/4153146/pexels-photo-4153146.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
                </li>
                <li class="logoItem">
                    <img class="photu" src="https://images.pexels.com/photos/6423990/pexels-photo-6423990.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="">
                </li>
                <li class="logoItem">
                    <img class="photu" src="https://images.pexels.com/photos/2067569/pexels-photo-2067569.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="">
                </li>
                <li class="logoItem">
                    <img class="photu" src="https://images.pexels.com/photos/3007370/pexels-photo-3007370.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
                </li>
                <li class="logoItem">
                    <img class="photu" src="https://images.pexels.com/photos/2128012/pexels-photo-2128012.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
                </li>
            </ul>
        </div>


        <div class="logoListWrapper2">
            <ul class="logoList2 -first">
                <li class="logoItem2">
                    <img class="photu" src="https://images.pexels.com/photos/309724/pexels-photo-309724.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
                </li>
                <li class="logoItem2">
                    <img class="photu" src="https://images.pexels.com/photos/7900616/pexels-photo-7900616.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="">
                </li>
                <li class="logoItem2">
                    <img class="photu" src="https://images.pexels.com/photos/4270539/pexels-photo-4270539.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
                </li>
                <li class="logoItem2">
                    <img class="photu" src="https://images.pexels.com/photos/749569/pexels-photo-749569.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
                </li>
                <li class="logoItem2">
                    <img class="photu" src="https://images.pexels.com/photos/5634667/pexels-photo-5634667.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="">
                </li>
                <!-- Clone -->
                <li class="logoItem2">
                    <img class="photu" src="https://images.pexels.com/photos/2228580/pexels-photo-2228580.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
                </li>
                <li class="logoItem2">
                    <img class="photu" src="https://images.pexels.com/photos/3728085/pexels-photo-3728085.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
                </li>
                <li class="logoItem2">
                    <img class="photu" src="https://images.pexels.com/photos/2465877/pexels-photo-2465877.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
                </li>
                <li class="logoItem2">
                    <img class="photu" src="https://images.pexels.com/photos/4068029/pexels-photo-4068029.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
                </li>
                <li class="logoItem2">
                    <img class="photu" src="https://images.pexels.com/photos/970080/pexels-photo-970080.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="">
                </li>
            </ul>
        </div>
    </div>

    <div class="col-lg-7">
        <div class="container" style="margin-top: 18vh; padding: 50px; text-align: left;">
            <h1 class="underline-small top-header">Online</h1>
            <h1 class="underline-small top-header">Bookstore</h1>
            <p style="letter-spacing: 3px; text-align: justify; line-height: 1.8; margin-top: 50px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat.</p>
        </div>
        <div class="box">
            <span></span>
            <span></span>
            <span></span>
            <!-- <span></span>
            <span></span> -->
        </div>
    </div>
</div> 

<div class="container-fluid second" style="margin-top: 100vh; padding: 0; height: 250vh;">
    <!-- Here a cool on scroll effect will come -->
    <div class="hero" style="margin: 100px 0;">
        <h1 class="revealUp">Available 24 / 7</h1>
        <img class="hero-img" src="https://images.pexels.com/photos/3646901/pexels-photo-3646901.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Mountains image" style="height: 100vh; width: 100vw; object-fit: cover; filter: grayscale(100%);">
    </div>
    <div class="hero">
        <h1 class="revealUp2">Enhanced experience</h1>
        <img class="hero-img" src="https://images.pexels.com/photos/1787219/pexels-photo-1787219.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Mountains image" style="height: 100vh; object-fit: cover; width: 100vw;">
      </div>
</div>

<!-- <div class="intro" style="height: 100vh; text-align: center;">
    <h1>Here a cool onscroll effect</h1>
    <video src="../static/video/Untitled.mp4"></video>
</div>
<section>
    <h1>Let's Get started!</h1>
</section> -->
<!-- <div class="container-fluid third">
    <h1 style="font-size: 40px;">MOST SOLD BOOKS</h1>
    <div class="slider">
        <div class="slide-track">
            <div class="slide">
                <img src="../static/img/book1.jpg" alt="">
            </div>
            <div class="slide">
                <img src="../static/img/book2.jpeg" alt="">
            </div>
            <div class="slide">
                <img src="../static/img/book3.jpeg" alt="">
            </div>
            <div class="slide">
                <img src="../static/img/book4.jpeg" alt="">
            </div>
            <div class="slide">
                <img src="../static/img/book5.jpeg" alt="">
            </div>
            <div class="slide">
                <img src="../static/img/book1.jpg" alt="">
            </div>
            <div class="slide">
                <img src="../static/img/book2.jpeg" alt="">
            </div>
            <div class="slide">
                <img src="../static/img/book3.jpeg" alt="">
            </div>
            <div class="slide">
                <img src="../static/img/book4.jpeg" alt="">
            </div>


            <div class="slide">
                <img src="../static/img/book1.jpg" alt="">
            </div>
            <div class="slide">
                <img src="../static/img/book2.jpeg" alt="">
            </div>
            <div class="slide">
                <img src="../static/img/book3.jpeg" alt="">
            </div>
            <div class="slide">
                <img src="../static/img/book4.jpeg" alt="">
            </div>
            <div class="slide">
                <img src="../static/img/book5.jpeg" alt="">
            </div>
            <div class="slide">
                <img src="../static/img/book1.jpg" alt="">
            </div>
            <div class="slide">
                <img src="../static/img/book2.jpeg" alt="">
            </div>
            <div class="slide">
                <img src="../static/img/book3.jpeg" alt="">
            </div>
            <div class="slide">
                <img src="../static/img/book4.jpeg" alt="">
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="container-fluid">
    CAROUSEL
    <h1 style="margin-top: 20%;text-align: center; font-size: 50px;">Top 5 Most Sold Books</h1>
    <section id="slider">
        <input type="radio" name="slider" id="s1" checked>
        <input type="radio" name="slider" id="s2">
        <input type="radio" name="slider" id="s3">
        <input type="radio" name="slider" id="s4">
        <input type="radio" name="slider" id="s5">
      
        <label for="s1" id="slide1">
            <div class="row" style="margin: 100px;">
                <div class="col-lg-6">
                    <img src="../static/img/book1.jpg" alt="" style="height: 100%; width: 100%;">
                </div>
                <div class="col-lg-6" style="color: black;">
                    <h4>Book Title</h4>
                    <p>Author Of The Book</p>
                    <p>Copies Sold: 290</p>
                    <p>Book desc - Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, beatae!</p>
                    <p>Rating: </p>
                </div>
            </div>
        </label>
        <label for="s2" id="slide2">
            <div class="row" style="margin: 100px;">
                <div class="col-lg-6">
                    <img src="../static/img/book2.jpeg" alt="" style="height: 100%; width: 100%;">
                </div>
                <div class="col-lg-6" style="color: black;">
                    <h4>Book Title</h4>
                    <p>Author Of The Book</p>
                    <p>Copies Sold: 290</p>
                    <p>Book desc - Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, beatae!</p>
                    <p>Rating: </p>
                </div>
            </div>
        </label>
        <label for="s3" id="slide3">
            <div class="row" style="margin: 100px;">
                <div class="col-lg-6">
                    <img src="../static/img/book3.jpeg" alt="" style="height: 100%; width: 100%;">
                </div>
                <div class="col-lg-6" style="color: black;">
                    <h4>Book Title</h4>
                    <p>Author Of The Book</p>
                    <p>Copies Sold: 290</p>
                    <p>Book desc - Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, beatae!</p>
                    <p>Rating: </p>
                </div>
            </div>
        </label>
        <label for="s4" id="slide4">
            <div class="row" style="margin: 100px;">
                <div class="col-lg-6">
                    <img src="../static/img/book4.jpeg" alt="" style="height: 100%; width: 100%;">
                </div>
                <div class="col-lg-6" style="color: black;">
                    <h4>Book Title</h4>
                    <p>Author Of The Book</p>
                    <p>Copies Sold: 290</p>
                    <p>Book desc - Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, beatae!</p>
                    <p>Rating: </p>
                </div>
            </div>
        </label>
        <label for="s5" id="slide5">
            <div class="row" style="margin: 100px;">
                <div class="col-lg-6">
                    <img src="../static/img/book5.jpeg" alt="" style="height: 100%; width: 100%;">
                </div>
                <div class="col-lg-6" style="color: black;">
                    <h4>Book Title</h4>
                    <p>Author Of The Book</p>
                    <p>Copies Sold: 290</p>
                    <p>Book desc - Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, beatae!</p>
                    <p>Rating: </p>
                </div>
            </div>
        </label>
      </section>
</div> -->


<div class="container-fluid">
    <!-- Here a cool on scroll effect will come -->
    <section class='spacer'>
        <h1 id="scrollingText"> 
            . Fiction . Adventure . Comic . Autobiographies . Horror . Cookbooks  . Poetry . 
            <p style="color: white; font-size: 150px;">. Classics . Thrillers . Fiction .  Mystery . Fantasy  . Romance .</p>
            . Poetry . Cookbooks  . Horror . Autobiographies . Comic . Adventure . Fiction . 
            <!-- <p style="color: white; font-size: 150px;">. Classics . Thrillers . Autobiographies . Cookbooks . Poetry .</p> -->
        </h1>
       </section>
</div>

<div style="margin-top: 200px;">
    <main>
        <section class="home-intro">
            <h1 class="underline-small" style="text-align: center; font-size: 80px; margin: 50px 0;">5 Most Sold Books</h1>
        </section>
  
        <div class="home-more-stuff">
          <div class="more-stuff-grid">
            <div class="book-container slide-in from-left">
                <a href="#" class="book">
                    <div class="cover" style="background-image: url(https://images-na.ssl-images-amazon.com/images/I/51FZCdcN2HL._SX328_BO1,204,203,200_.jpg); object-fit: contain;" data-icon='https://res.cloudinary.com/hilnmyskv/image/upload/v1610468721/ui-library/icons/answers-for-support.svg' data-pattern='https://res.cloudinary.com/hilnmyskv/image/upload/v1617363328/ui-library/patterns/bckg-pattern-mapping.svg' data-title="Answer for support">
                        <!-- <div class="cover-icon"></div>
                        <div class="cover-title"></div> -->
                    </div>
                </a>
            </div>
            <div class="slide-in from-right" style="text-align: center; letter-spacing: 3px; line-height: 1.8;">
                    <h1>Book Title</h1>
                    <h4>Author Of The Book</h4>
                    <h6>Copies Sold: 290</h6>
                    <p style="text-align: justify;">Book desc - Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus voluptatem dolor natus repellat, minus temporibus provident ullam a illo, possimus dolorum doloribus tempore facere aliquid?</p>
                    <p>Rating: <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
            </div>
          </div>
          <div class="more-stuff-grid">
            <div class="slide-in from-left" style="text-align: center; letter-spacing: 3px; line-height: 1.8;">
                    <h1>Book Title</h1>
                    <h4>Author Of The Book</h4>
                    <h6>Copies Sold: 290</h6>
                    <p style="text-align: justify;">Book desc - Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus voluptatem dolor natus repellat, minus temporibus provident ullam a illo, possimus dolorum doloribus tempore facere aliquid?</p>
                    <p>Rating: <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
            </div>
            <div class="book-container flipped slide-in from-right">
                <a href="#" class="book">
                    <div style="transform: scaleX(-1); background-image: url(https://images-na.ssl-images-amazon.com/images/I/41EmGYdoPOL._SX308_BO1,204,203,200_.jpg);" class="cover" data-icon='https://res.cloudinary.com/hilnmyskv/image/upload/v1584605615/ui-library/icons/personalization.svg' data-pattern='https://res.cloudinary.com/hilnmyskv/image/upload/v1617363326/ui-library/patterns/bckg-pattern-atom.svg' data-title="Answer for publishers">
                        <!-- <div class="cover-icon"></div>
                        <div class="cover-title"></div> -->
                    </div>
                </a>
            </div>
          </div>
          <div class="more-stuff-grid">
            <div class="book-container slide-in from-left">
                <a href="#" class="book">
                    <div class="cover" style="background-image: url(https://images-na.ssl-images-amazon.com/images/I/41g-Zs8nzlL._SX319_BO1,204,203,200_.jpg);" data-icon='https://res.cloudinary.com/hilnmyskv/image/upload/v1602492921/ui-library/icons/answers.svg' data-pattern='https://res.cloudinary.com/hilnmyskv/image/upload/v1617363326/ui-library/patterns/bckg-pattern-incremental.svg' data-title="Dynamic synonyms suggestion">
                        <!-- <div class="cover-icon"></div>
                        <div class="cover-title"></div> -->
                    </div>
                </a>
            </div>
            <div class="slide-in from-right" style="text-align: center; letter-spacing: 3px; line-height: 1.8;">
                    <h1>Book Title</h1>
                    <h4>Author Of The Book</h4>
                    <h6>Copies Sold: 290</h6>
                    <p style="text-align: justify;">Book desc - Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus voluptatem dolor natus repellat, minus temporibus provident ullam a illo, possimus dolorum doloribus tempore facere aliquid?</p>
                    <p>Rating: <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
            </div>
          </div>
          <div class="more-stuff-grid">
            <div class="slide-in from-left" style="text-align: center; letter-spacing: 3px; line-height: 1.8;">
                    <h1>Book Title</h1>
                    <h4>Author Of The Book</h4>
                    <h6>Copies Sold: 290</h6>
                    <p style="text-align: justify;">Book desc - Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus voluptatem dolor natus repellat, minus temporibus provident ullam a illo, possimus dolorum doloribus tempore facere aliquid?</p>
                    <p>Rating: <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
            </div>
            <div class="book-container flipped slide-in from-right">
                <a href="#" class="book">
                    <div style="transform: scaleX(-1); background-image: url(https://images-na.ssl-images-amazon.com/images/I/51P1Rfz5n3L._SX331_BO1,204,203,200_.jpg);" class="cover" data-icon='https://res.cloudinary.com/hilnmyskv/image/upload/v1610468721/ui-library/icons/answers-for-support.svg' data-pattern='https://res.cloudinary.com/hilnmyskv/image/upload/v1617363328/ui-library/patterns/bckg-pattern-mapping.svg' data-title="Answer for support">
                        <!-- <div class="cover-icon"></div>
                        <div class="cover-title"></div> -->
                    </div>
                </a>
            </div>
          </div>
          <div class="more-stuff-grid">
            <div class="book-container slide-in from-left">
                <a href="#" class="book">
                    <div class="cover" style="background-image: url(https://images-na.ssl-images-amazon.com/images/I/51+kE0KESsL._SX326_BO1,204,203,200_.jpg);" data-icon='https://res.cloudinary.com/hilnmyskv/image/upload/v1584605615/ui-library/icons/personalization.svg' data-pattern='https://res.cloudinary.com/hilnmyskv/image/upload/v1617363326/ui-library/patterns/bckg-pattern-atom.svg' data-title="Answer for publishers">
                        <!-- <div class="cover-icon"></div>
                        <div class="cover-title"></div> -->
                    </div>
                </a>
            </div>
            <div class="slide-in from-right" style="text-align: center; letter-spacing: 3px; line-height: 1.8;">
                    <h1>Book Title</h1>
                    <h4>Author Of The Book</h4>
                    <h6>Copies Sold: 290</h6>
                    <p style="text-align: justify;">Book desc - Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus voluptatem dolor natus repellat, minus temporibus provident ullam a illo, possimus dolorum doloribus tempore facere aliquid?</p>
                    <p>Rating: <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></p>
            </div>
          </div>
        </div>
      </main>
</div>

<!-- <div class="container-fluid">
    all available books
</div>

<footer class="footer" style="height: 50vh;">
    Footer
</footer> -->
<div class="wrapper" style="margin-top: 150px;">
    <center>
        <h1 class="underline-small" style="text-align: center;padding: 20px 0; font-size: 80px; margin: 50px 0;">Available Books</h1>
    </center>
    <!-- MAIN CONTAINER -->
    <section class="main-container2" >
      <div class="location" id="home">
          <h1 id="home">Fiction</h1>
          <div class="box2">
              <a href="">
                  <img src="https://images-na.ssl-images-amazon.com/images/I/514kNkerQ0L._SX324_BO1,204,203,200_.jpg" alt="">
                </a>
              <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/51k+lXZyJ6L._SX322_BO1,204,203,200_.jpg" alt=""></a>
              <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/51cINGMmrbL._SX323_BO1,204,203,200_.jpg" alt=""></a>
              <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/51OuP0mmnwL._SX322_BO1,204,203,200_.jpg" alt=""></a>
              <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/410llGwMZGL._SX328_BO1,204,203,200_.jpg" alt=""></a>
              
              <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/41QMKIWimFL._SX311_BO1,204,203,200_.jpg" alt=""></a>
            <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/51T8OXMiB5L._SX356_BO1,204,203,200_.jpg" alt=""></a>
            <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/51nilJOmCaS._SX325_BO1,204,203,200_.jpg" alt=""></a>
            <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/51eqW-3TeJL._SX325_BO1,204,203,200_.jpg" alt=""></a>
            <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/41R3UBSIeiL._SX367_BO1,204,203,200_.jpg" alt=""></a>
            <a href=""><img src="https://m.media-amazon.com/images/I/61SfBOL3d2L.jpg" alt=""></a>
            <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/41dElS3Q0mL._SX324_BO1,204,203,200_.jpg" alt=""></a>        
          </div>
      </div>
      

      <h1 id="myList">Adventure</h1>
      <div class="box2">
        <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/51D+4JrqciL._SX353_BO1,204,203,200_.jpg" alt=""></a>
        <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/51im3EBU9eL._SX331_BO1,204,203,200_.jpg" alt=""></a>
        <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/5160dwNeqSL._SX323_BO1,204,203,200_.jpg" alt=""></a>
        <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/51mxCyZtWkL._SX328_BO1,204,203,200_.jpg" alt=""></a>
        <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/51HjPZRGHXL._SX312_BO1,204,203,200_.jpg" alt=""></a>
        <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/415MyvDTEEL._SX325_BO1,204,203,200_.jpg" alt=""></a>
        <!-- <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/41oIS2l0GbL._SX298_BO1,204,203,200_.jpg" alt=""></a>                   -->
      </div>
      
      <h1 id="tvShows">Comic</h1>
      <div class="box2">
        <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/51chFLcBI5L._SX383_BO1,204,203,200_.jpg" alt=""></a>
        <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/61gVNYNntVL._SX350_BO1,204,203,200_.jpg" alt=""></a>
        <a href=""><img src="https://m.media-amazon.com/images/I/511SB91kDbL.jpg" alt=""></a>
        <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/51HWxk2eXXL._SX376_BO1,204,203,200_.jpg" alt=""></a>
        <a href=""><img src="https://m.media-amazon.com/images/I/61CFyGc5QoL.jpg" alt=""></a>
        
        <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/51f+NOvLcdL._SX336_BO1,204,203,200_.jpg" alt=""></a>
        <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/51HXtMne9XL._SX352_BO1,204,203,200_.jpg" alt=""></a>
        <!-- <a href=""><img src="https://images-eu.ssl-images-amazon.com/images/I/51J3RzxeUoL._SY264_BO1,204,203,200_QL40_FMwebp_.jpg" alt=""></a> -->
        <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/51jCw4RzITL._SX366_BO1,204,203,200_.jpg" alt=""></a>
        <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/61ck5XWxB3L._SX324_BO1,204,203,200_.jpg" alt=""></a>
        <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/51ur-aHOT6L._SX355_BO1,204,203,200_.jpg" alt=""></a>
        <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/51x7mCG6qXL._SX331_BO1,204,203,200_.jpg" alt=""></a>              
      </div>
      

      <h1 id="movies">Mystery & Thriller</h1>
      <div class="box2">
        <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/518cNAbz7AL._SX311_BO1,204,203,200_.jpg" alt=""></a>
        <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/51GHAvwe8SS._SX323_BO1,204,203,200_.jpg" alt=""></a>
        <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/51+kE0KESsL._SX326_BO1,204,203,200_.jpg" alt=""></a>
        <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/51cINGMmrbL._SX323_BO1,204,203,200_.jpg" alt=""></a>
        <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/51UA4cTPAhL._SX321_BO1,204,203,200_.jpg" alt=""></a>
        <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/41QMKIWimFL._SX311_BO1,204,203,200_.jpg" alt=""></a>                
        <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/41l3nAX-GZL._SX330_BO1,204,203,200_.jpg" alt=""></a>                
        <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/516lCvcxe+S._SX324_BO1,204,203,200_.jpg" alt=""></a>                
      </div>

      <h1 id="originals">Fantasy</h1>
      <div class="box2">
        <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/41595QPnOeL._SX320_BO1,204,203,200_.jpg" alt=""></a>
        <a href=""><img src="https://m.media-amazon.com/images/I/51PZj2tdTGL.jpg" alt=""></a>
        <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/515Y-kC7EQL._SX310_BO1,204,203,200_.jpg" alt=""></a>
        <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/61VyjZAv9gL._SX324_BO1,204,203,200_.jpg" alt=""></a>
        <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/51PLPLu6pvL._SX311_BO1,204,203,200_.jpg" alt=""></a>
        <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/51uAHDktCRL._SX324_BO1,204,203,200_.jpg" alt=""></a>                
        <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/51ed4Zltn1L._SX324_BO1,204,203,200_.jpg" alt=""></a>                
        <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/51U0qodKtbL._SX327_BO1,204,203,200_.jpg" alt=""></a>                
      </div>
      
      <h1 id="originals">Horror</h1>
      <div class="box2">
        <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/51CyNf+aXHL._SX330_BO1,204,203,200_.jpg" alt=""></a>
        <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/51I-IQ5D6cS._SX323_BO1,204,203,200_.jpg" alt=""></a>
        <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/51bi5cmQYSL._SX313_BO1,204,203,200_.jpg" alt=""></a>
        <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/51x+I8Pua7L._SX324_BO1,204,203,200_.jpg" alt=""></a>
        <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/51wME9t9b9L._SX351_BO1,204,203,200_.jpg" alt=""></a>
        <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/51bwnCTeE2L._SX334_BO1,204,203,200_.jpg" alt=""></a>              
        <a href=""><img src="https://m.media-amazon.com/images/I/41NMBD9kYrL.jpg" alt=""></a>              
        <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/51wEkxY++PL._SX311_BO1,204,203,200_.jpg" alt=""></a>              
        <a href=""><img src="https://m.media-amazon.com/images/I/418MfUzOMJL.jpg" alt=""></a>              
      </div>
      
      <h1 id="originals">Classics</h1>
      <div class="box2">
        <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/51DgGEZikdL._SX340_BO1,204,203,200_.jpg" alt=""></a>
        <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/415+jozXUNL._SX306_BO1,204,203,200_.jpg" alt=""></a>
        <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/51pT5XQHSKL._SX308_BO1,204,203,200_.jpg" alt=""></a>
        <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/41kAxbOhV8L._SX328_BO1,204,203,200_.jpg" alt=""></a>
        <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/51FZCdcN2HL._SX328_BO1,204,203,200_.jpg" alt=""></a>
        <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/518Vh4CXJ6L._SX348_BO1,204,203,200_.jpg" alt=""></a>               
        <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/514kNkerQ0L._SX324_BO1,204,203,200_.jpg" alt=""></a>
        <a href=""><img src="https://m.media-amazon.com/images/I/41X+kHgrVBL.jpg" alt=""></a>
        <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/410llGwMZGL._SX328_BO1,204,203,200_.jpg" alt=""></a>
      </div>
      
      <h1 id="originals">Autobiographies</h1>
      <div class="box2">
        <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/41Vyss0-f1L._SX308_BO1,204,203,200_.jpg" alt=""></a>
        <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/41n1edvVlLL._SX317_BO1,204,203,200_.jpg" alt=""></a>
        <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/51wbVQTpTgL._SX339_BO1,204,203,200_.jpg" alt=""></a>
        <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/41IhZl8wizL._SX322_BO1,204,203,200_.jpg" alt=""></a>
        <a href=""><img src="https://m.media-amazon.com/images/I/41NQNVe3lqS.jpg" alt=""></a>
        <a href=""><img src="https://m.media-amazon.com/images/I/41ndvNbV2dL.jpg" alt=""></a>                
        <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/51oHUvYzbsL._SX327_BO1,204,203,200_.jpg" alt=""></a>                
        <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/515l872aCbL._SX323_BO1,204,203,200_.jpg" alt=""></a>                
        <a href=""><img src="https://images-na.ssl-images-amazon.com/images/I/41k8MUF7ViL._SX307_BO1,204,203,200_.jpg" alt=""></a>                
      </div>
     
    
</section>
      <!-- FOOTER -->
      <div class="container-fluid footer" style="height: 70vh; padding: 100px; background-color: rgb(20, 20, 20);">
          <div class="row">
              <div class="col-lg-4">
                  <h4 class="footer-heading underline-small-footer">Online-Bookstore</h4>
                  <h5>About the company</h5>
                  <p style="color: rgb(134, 121, 121);">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta officia blanditiis, fugiat harum neque doloremque?</p>
                  <div class="social-div">
                    <div class="social-icon"><i class="fab fa-facebook-f custom-icon"></i></div>
                    <div class="social-icon"><i class="fab fa-instagram custom-icon"></i></div>
                    <div class="social-icon"><i class="fab fa-twitter custom-icon"></i></div>
                    <div class="social-icon"><i class="fab fa-linkedin-in custom-icon"></i></div>
                </div>
                </div>
                <div class="col-lg-2">
                    <h4 class="footer-heading underline-small-footer">Explore</h4>
                    <ul>
                        <li>Blog</li>
                        <li>Pricing</li>
                        <li>Sales</li>
                        <li>Customer Service</li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4 class="footer-heading underline-small-footer">Useful Links</h4>
                    <ul>
                        <li>linkedin</li>
                        <li>Email-us</li>
                        <li>Privacy</li>
                        <li>Guide</li>
                        <li>Terms&Conditions</li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4 class="footer-heading underline-small-footer">Contact</h4>
                    <div class="info-div" style="position: relative;">
                        <div style="display: flex;">
                            <div style="margin: auto 0;"><i class="far fa-clock icon"></i></div>
                            <div>
                                <p class="info-heading"> OPENING HOURS</p>
                                <p>24 / 7 hours</p>
                            </div>
                        </div>
                        <div style="display: flex;">
                            <div style="margin: auto 0;"><i class="far fa-envelope icon"></i></div>
                            <div>
                                <p class="info-heading"> MAIL </p>
                                <p class="info"><a class="fuddu-anchor" rel="nofollow noreferrer" href="mailto:punerva21@gmail.com"> lorem@gmail.com</a></p>
                            </div>
                        </div>
                        <div style="display: flex;">
                            <div style="margin: auto 0;"><i class="fas fa-phone icon"></i></div>
                            <div>
                                <p class="info-heading"> PHONE </p>
                                <p class="info"> +91-338373XXXX</p>
                            </div>
                        </div>
                        <div style="display: flex;">
                            <div style="margin: auto 0;"><i class="fas fa-map-marker-alt icon"></i></div>
                            <div>
                                <p class="info-heading"> MAPS </p>
                                <p class="info"><a href="#" class="show_hide fuddu-anchor">Kashmere gate, Delhi</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p style="text-align: center; bottom: 0; width: 100vw; padding: 20px 0; color: gray;">Copyright @Online-Bootstore</p>





    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.4/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.4/ScrollTrigger.min.js"></script>
    <script src="../static/js/app.js"></script>
    <script>
        let parent = document.querySelectorAll('.animate-text');
      for(let i = 0; i < parent.length; i++) {
        parent[i].style.width = parent[i].children[0].clientWidth + "px"; 
      };
      </script>

<script>
    gsap.registerPlugin(ScrollTrigger);

gsap.to(".hero-title", {
  x: -1300,
  backgroundPosition: '1300px 0',
  scrollTrigger: {
    trigger: "body",
    start: 'top top',
    scrub: true,
  }
});

gsap.to(".hero-cta", {
  y: 80,
  scrollTrigger: {
    trigger: "body",
    start: 'top top',
    end: 'bottom top',
    scrub: true,
  }
});
</script>

      <script>

gsap.registerPlugin(ScrollTrigger);
// REVEAL //
gsap.utils.toArray(".revealUp").forEach(function (elem) {
  ScrollTrigger.create({
    trigger: elem,
    start: "top 90%",
    end: "bottom 30%",
    // markers: true,
    onEnter: function () {
      gsap.fromTo(
        elem,
        { y: 100, autoAlpha: 0 },
        {
          duration: 1.25,
          y: 0,
          autoAlpha: 1,
          ease: "back",
          overwrite: "auto"
        }
      );
    },
    onLeave: function () {
      gsap.fromTo(elem, { autoAlpha: 1 }, { autoAlpha: 0, overwrite: "auto" });
    },
    onEnterBack: function () {
      gsap.fromTo(
        elem,
        { y: -100, autoAlpha: 0 },
        {
          duration: 1.25,
          y: 0,
          autoAlpha: 1,
          ease: "back",
          overwrite: "auto"
        }
      );
    },
    onLeaveBack: function () {
      gsap.fromTo(elem, { autoAlpha: 1 }, { autoAlpha: 0, overwrite: "auto" });
    }
  });
});
      </script>
      
      
      <script>

gsap.registerPlugin(ScrollTrigger);
// REVEAL //
gsap.utils.toArray(".revealUp2").forEach(function (elem) {
  ScrollTrigger.create({
    trigger: elem,
    start: "top 90%",
    end: "bottom 30%",
    // markers: true,
    onEnter: function () {
      gsap.fromTo(
        elem,
        { y: 100, autoAlpha: 0 },
        {
          duration: 1.25,
          y: 0,
          autoAlpha: 1,
          ease: "back",
          overwrite: "auto"
        }
      );
    },
    onLeave: function () {
      gsap.fromTo(elem, { autoAlpha: 1 }, { autoAlpha: 0, overwrite: "auto" });
    },
    onEnterBack: function () {
      gsap.fromTo(
        elem,
        { y: -100, autoAlpha: 0 },
        {
          duration: 1.25,
          y: 0,
          autoAlpha: 1,
          ease: "back",
          overwrite: "auto"
        }
      );
    },
    onLeaveBack: function () {
      gsap.fromTo(elem, { autoAlpha: 1 }, { autoAlpha: 0, overwrite: "auto" });
    }
  });
});
      </script>

      <script>

const books = document.querySelectorAll(".book");

[...books].map(book => {
  const cover = book.querySelector('.cover');
  const pattern = document.createElement('div');
  
  const coverIcon = book.querySelector('.cover-icon');
  const coverTitle = book.querySelector('.cover-title');
  
  const iconElement = document.createElement('div');
  iconElement.className="icon"
  
  const title = cover.dataset.title;
  const svg = cover.dataset.icon;
  const coverPattern = cover.dataset.pattern;
  
//   pattern.className="pattern";
//   pattern.style.backgroundImage = `url(${coverPattern})`;
  
  iconElement.style.backgroundImage = `url(${svg})`;
  coverIcon.appendChild(iconElement)
  
  coverTitle.textContent = title;
  
  cover.appendChild(pattern);
})
      </script>

      <script>
          const header = document.querySelector("header");
const sectionOne = document.querySelector(".home-intro");

const faders = document.querySelectorAll(".fade-in");
const sliders = document.querySelectorAll(".slide-in");

const sectionOneOptions = {
  rootMargin: "-200px 0px 0px 0px"
};

const sectionOneObserver = new IntersectionObserver(function(
  entries,
  sectionOneObserver
) {
  entries.forEach(entry => {
    if (!entry.isIntersecting) {
      header.classList.add("nav-scrolled");
    } else {
      header.classList.remove("nav-scrolled");
    }
  });
},
sectionOneOptions);

sectionOneObserver.observe(sectionOne);

const appearOptions = {
  threshold: 0,
  rootMargin: "0px 0px -250px 0px"
};

const appearOnScroll = new IntersectionObserver(function(
  entries,
  appearOnScroll
) {
  entries.forEach(entry => {
    if (!entry.isIntersecting) {
      return;
    } else {
      entry.target.classList.add("appear");
      appearOnScroll.unobserve(entry.target);
    }
  });
},
appearOptions);

faders.forEach(fader => {
  appearOnScroll.observe(fader);
});

sliders.forEach(slider => {
  appearOnScroll.observe(slider);
});
      </script>


<script>
    gsap.registerPlugin(ScrollTrigger);

let tl2 = gsap.timeline();
tl2.to("#scrollingText", {
  x:1000,
  duration:50,
  repeat:-1,
  ease:'linear'
})
let tl = gsap.timeline();
tl.to('#scrollingText', {
  xPercent:15,
  scrollTrigger:{
    trigger:"#scrollingText",
    scrub:1
  }
})
</script>
    {% endblock content %}