{% extends "base.html" %}

{% block content %}

  <div class="each-order">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Order id</th>
                <th scope="col">Razorpay order id</th>
                <th scope="col">Book id</th>
                <th scope="col">Book name</th>
                <th scope="col">Book price</th>
                <th scope="col">Order date</th>
              </tr>
            </thead>
            <tbody>
            {% for order in orders %}
              <tr>
                <th scope="row">{{ order.id }}</th>
                <td>{{ order.razorpay_order_id }}</td>
                <td>{{ order.book_id }}</td>
                {%for book in books%}
                {% if book.id == order.book_id  %}
                    <td><a class="mr-2" href="{{ url_for('book_info', book_id=order.book_id)}}" style="font-size: 20px; color: #70442d; font-weight: 600;">{{ book.title}}</a></td>
                {%endif%}
                {%endfor%}
                <td>{{ order.book_price }}</td>
                <td>{{ order.order_date}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
      </div>
{% endblock %}